<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<table>
  <tr>
    <th>User ID</th>
    <th>Full Name</th>
    <th>Email Address</th>
    <th>Phone Number</th>
  </tr>
  <% results.forEach(function(r) { %>
    <tr><%= r.id %> - <%= r.full_name %> - <%= r.email %> - <%= r.phone_number %></tr>
  <% }); %>
</table>

</div>

</body>
</html>